<!DOCTYPE html>
<html>
    <head>
        <title>Filter your results</title>
    </head>
    <body>
        <h1>Filter your results</h1>
        <form action='/sorter' method="post">
            <label for="price">Enter price</label>
            <input id="priceInput" name="priceInput" type="number">
            <label for="mileage">Enter mileage</label>
            <input id="mileageInput" name="mileageInput" type="number">
            <button type="submit">GO!</button>
        </form>
    </body>
</html>
