<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Enter new car</title>
    </head>
    <body>
        <h1>Enter new car</h1>
        <form action='/boing' method='post'>
            <label for="make">Make / Model:</label>
            <input id="make" name="make" type="text">
            <label for="price">Price:</label>
            <input id="price" name="price" type="number">
            <label for="mileage">Mileage:</label>
            <input id="mileage" name="mileage" type="number">
            <label for="image">Image:</label>
            <input id="image" name="image" type="url">
            <button type="submit">SUBMIT</button>   
        </form>
    </body>
</html>
